body{
    background: #228ddd;
}

.dino {
    position: absolute;
    bottom: 20px;
    background-image: url(dino.gif);
    background-color: rgba(217, 255, 255, 0);
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
}

.Cactus {
    position: absolute;
    bottom: 0;
    background-image: url(Cactus.png);
    background-color:rgba(217, 255, 255, 0);
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
}

.game-over{
    text-align: center;
    color: #666;
    margin-top: 50px 0; 
    font-family: arial;
}

@keyframes slideright {
    from{
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}

.background{
    position: absolute;
    bottom: 0px;
    background-image: url('background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 100%;
}


